DATABASE_URL=postgresql://user:pass@ep-xxx.region.aws.neon.tech/kalakriti?sslmode=require
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_API_KEY
FACTORY_ADDRESS=0xC6848D1F9B06995f01E2455a4e06deE7B32dA030
MARKETPLACE_ADDRESS=0xE59fB714CAa715E64Bb991F1F5E9709324373eE7
DEPLOY_BLOCK=10927023
PORT=3001
